OPENMRS_HOME=/root/.OpenMRS
OPENMRS_MODULES=/root/.OpenMRS/modules
OPENMRS_PLATFORM_URL="https://sourceforge.net/projects/openmrs/files/releases/OpenMRS_Platform_2.0.5/openmrs.war/download"
OPENMRS_REST_URL="https://modules.openmrs.org/modulus/api/releases/1616/download/webservices.rest-2.20.0.omod"

DB_NAME=db_name
OPENMRS_DB_USER=db_user
OPENMRS_DB_PASS=db_pass
OPENMRS_MYSQL_HOST=db_host
OPENMRS_MYSQL_PORT=db_port
OPENMRS_NAME=openmrs